/* * {
    margin: 0;
    padding: 0;
} */

body {
    text-align: center;
    background-color: #e09772;
}

/* Game */

/* main {
    height: 50%;
    width: 50%;
    margin: auto;
} */

.container {
    background-color: #9e80d9;
    border: 3px solid;
    border-radius: 30px;
    width: 50%;
    height: 600px;
    margin: 0 auto;
    filter: drop-shadow(3px 3px 8px black);
}

.output {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #E1E6E2;
    height: 30vh;
    width: 40vw;
    margin: 60px auto 0;
    border: 3px solid;
    border-radius: 20px;
    filter: drop-shadow(3px 3px 8px black);
}

.button {
    margin: 80px auto;
    width: 30vw;
    cursor: pointer;
    background-color: #F2CEBB;
    border-radius: 100px;
    filter: drop-shadow(3px 3px 3px black);
}

.output p {
    font-size: 3rem;
}

.button-click {
    animation: outputBox 2s ease-in;
}

@keyframes outputBox {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}